{% extends "base.html" %}{% block content %}
<div class="container d-flex justify-content-center mt-5">
<div class="card shadow-lg p-4" style="width:400px;">
<h3 class="text-center mb-3">FastDrop ERP</h3>
<form method="POST">
<div class="mb-3"><label>Email</label><input name="email" type="email" class="form-control" required></div>
<div class="mb-3"><label>Senha</label><input name="password" type="password" class="form-control" required></div>
<button class="btn btn-primary w-100 mt-3">Entrar</button>
</form></div></div>{% endblock %}